body {
  font-family: "Playfair Display", serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding-bottom: 100px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.card {
  display:flex; 
  flex-direction:row;
  padding: 10px;
  padding-left: 300px;
}

.info h2{
  padding-left: 10px;
}

.info h3 {
  padding: 10px;
  padding-left: 10px;
}

.link {
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: normal;
  padding: 5px 11px;
  
}

input {
  margin: 5px;
  padding: 12px 20px;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  box-sizing: border-box;
  transition: all 0.2s;
  width: 100%;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.new-animal-form{
  width: 500px;
  padding:20px;
  display: inline-block;
}

#btn{
  margin: 10px;
}

.note{
  text-align: center;
  font-size:x-large;
  margin-bottom: 50px;
}

.prompt{
  margin: 5px;
  width: 500px;
  
}

#searcher{
  margin: 5px;
}